<body>
  <div class="form-body">
      <div class="website-logo">
          <a href="index.html">
              <div class="logo">
                  <img class="logo-size" src="images/unike-logo-light.svg" alt="Logo Unike Tech">
              </div>
          </a>
      </div>
      <div class="row">
          <div class="img-holder">
              <div class="bg"></div>
              <div class="info-holder">
                  <img src="../../../../images/forget-password-sidebar.svg" alt="">
              </div>
          </div>
          <div class="form-holder">
              <div class="form-content">
                  <div class="form-items">
                     <img class="img-score" src="./testeImage.jpeg" alt="">

                    <h1 style="    width: 30rem;
                    text-align: left;
                    margin-left:-1rem;
                    margin-top: 2rem;
                    color: purple;
                    text-decoration-line: underline;">Score obtido em 100%</h1>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
  
</body>