<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="#">
                <div class="logo">
                    <img class="logo-size" src="images/unike-logo-light.svg" alt="Logo Unike Tech">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="images/register-sidebar-1.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Insira seu nome e e-mail para continuar o registro.</h3>
                        <div class="page-links">
                            <a href="un-register.html" class="active">Registrar-se</a>
                        </div>

                        <app-global-modal id="registerFace" style="display: none;"></app-global-modal>
                        <form [formGroup]="formRegister">
                            <input class="form-control" type="text" formControlName="name" name="name"
                                placeholder="Seu nome completo" required>
                            <input class="form-control" type="email" formControlName="email" name="email"
                                placeholder="Seu melhor e-mail" required>
                            <div class="form-button">
                                <button class="ibtn" (click)="cadastrarFace()">Cadastrar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>