<body>
  <div class="form-body">
      <div class="website-logo website-logo-mobile">
          <a href="#">
              <div class="logo">
                  <img class="logo-size" src="./images/unike-logo-light.svg" alt="Logo Unike Tech">
              </div>
          </a>
      </div>
      <div class="row">
          <div class="img-holder">
              <div class="info-holder">
                  <img class="icon-side-bar"src="./images/login-sidebar.svg" alt="">
              </div>
          </div>
          <div class="form-holder form-liveness">
              <div class="form-holder-liveness">
                  <div class="info-holder ">
                      <button (click)="toScore()">testar score</button>
                    <!--<img src="./images/no-user-liveness.svg" alt="" data-toggle="modal" data-target="#modalSuccess"> -->  
                    <app-sdk></app-sdk>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Success Modal -->
  <div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
              <img src="./images/icon-success.svg" alt="Sucesso ao carregar imagem">
              Muito bem! Cadastramento facial<br> executado com sucesso.
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary btn-unike">Cadastrar</button>
          </div>
      </div>
      </div>
  </div>

  <!-- Fail Modal -->
  <div class="modal fade" id="modalFail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
              <img src="./images/icon-fail.svg" alt="Falha ao carregar imagem">
              Algo não saiu como o esperado!<br>Tente novamente.
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary btn-unike">Tente novamente</button>
          </div>
      </div>
      </div>
  </div>

</body>