<div class="btn-group" dropdown [autoClose]="false" (onShown)="onShown()" (onHidden)="onHide()">
<button id="button-basic" dropdownToggle type="button"  class="btn btn-primary dropdown-toggle  btn-menu" aria-controls="dropdown-basic">
      <i class="fa fa-ellipsis-v"></i>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
      role="menu" aria-labelledby="button-basic">

    <li role="menuitem">
      <a class="dropdown-item" href="#">
        <div class="flex-container" style="width: 200px">
          <div class="flex-item label">Habilitar AS</div>
          <div class="flex-item item">
            <input type="checkbox" [(ngModel)]="enableAs" (click)="update()"/>
          </div>
        </div>
      </a>
    </li>

    <li role="menuitem">
      <a class="dropdown-item" href="#">
        <div class="flex-container" style="width: 200px">
          <div class="flex-item label">Câmera Traseira</div>
          <div class="flex-item item">
            <input type="checkbox" [(ngModel)]="assisted" (click)="update()"/>
          </div>
        </div>
      </a>
    </li>

    <li role="menuitem">
      <a class="dropdown-item" href="#">
        <div class="flex-container" style="width: 200px">
          <div class="flex-item label">Download dos Templ</div>
          <div class="flex-item item">
            <input type="checkbox" [(ngModel)]="download" (click)="update()"/>
          </div>
        </div>
      </a>
    </li>

    <li role="menuitem">
      <a class="dropdown-item" href="#">
        <div class="flex-container" style="width: 200px">
          <div class="flex-item label">Mostrar Treinamento</div>
          <div class="flex-item item">
            <input type="checkbox" [(ngModel)]="captureTraining" (click)="update()"/>
          </div>
        </div>
      </a>
    </li>

    <li class="dropdown-divider"></li>

    <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
      <button type="button" class="btn" (click)="dropdown['thrSelection'] = !dropdown['thrSelection']"  [attr.aria-expanded]="!dropdown['thrSelection']" aria-controls="collapseAsThresholdSelection">
        Rigidez do Liveness
      </button>
      <div id="collapseAsThresholdSelection" [collapse]="!dropdown['thrSelection']" (expands)="doOpen('thrSelection')" [isAnimated]="true">
        <div class="well card card-block card-header">

          <div class="flex-container" *ngFor="let bck of asThresold">
            <div class="flex-item label">{{bck.name}}</div>
            <div class="flex-item item">
              <input type="radio" name="asThresold" value="{{bck.threshold}}" [checked]="bck.selected" [(ngModel)]="this.asThresholdSelection" (change)="update()"/>
            </div>
          </div>

        </div>
      </div>

    </li>

    <li class="dropdown-divider"></li>
    <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
      <button type="button" class="btn" (click)="dropdown['uiSelection'] = !dropdown['uiSelection']"  [attr.aria-expanded]="!dropdown['uiSelection']" aria-controls="collapseTemplateSelection">
        App UI
      </button>
      <div id="collapseAppUiSelection" [collapse]="!dropdown['uiSelection']" (expands)="doOpen('uiSelection')" [isAnimated]="true">
        <div class="well card card-block card-header">

          <div class="flex-container" *ngFor="let appui of appuis">
            <div class="flex-item label">{{appui.name}}</div>
            <div class="flex-item item">
              <input type="radio" name="appui" [(ngModel)]="selectedAppUi" [value]="appui" (click)="update()"/>
            </div>
          </div>

        </div>
      </div>

    </li>

    <li class="dropdown-divider"></li>

    <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
      <button type="button" class="btn" (click)="dropdown['tmpSelection'] = !dropdown['tmpSelection']"  [attr.aria-expanded]="!dropdown['tmpSelection']" aria-controls="collapseTemplateSelection">
        Formato do Template
      </button>
      <div id="collapseTemplateSelection" [collapse]="!dropdown['tmpSelection']" (expands)="doOpen('tmpSelection')" [isAnimated]="true">
        <div class="well card card-block card-header">

          <div class="flex-container" *ngFor="let template of templates">
            <div class="flex-item label">{{template.name}}</div>
            <div class="flex-item item">
              <input type="checkbox" [(ngModel)]="template.selected" (click)="update()"/>
            </div>
          </div>

        </div>
      </div>

    </li>


  </ul>
</div>
