<body>
  <div class="form-body">
    <div class="website-logo">
      <a href="#">
        <div class="logo">
          <img class="logo-size" src="../../../../images/unike-logo-light.svg" alt="Unike Tech" />
        </div>
      </a>
    </div>
    <div class="row">
      <div class="img-holder">
        <div class="bg"></div>
        <div class="info-holder">
          <img src="../../../../images/login-sidebar.svg" alt="" />
        </div>
      </div>
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>Faça mais com a Unike.FACE.</h3>
            <p>
              Acesso à ferramenta mais poderosa de toda a indústria de
              reconhecimento facial.
            </p>
            <div class="page-links">
              <a href="#" class="active">Entrar</a>
            </div>
            <app-global-modal id="login" style="display: none;"></app-global-modal>
            <form [formGroup]='signinForm'>
              <input class="form-control" type="text" id="username" matInput name="username" formControlName="email"
                placeholder="Seu e-mail" required />
              <input class="form-control" matInput formControlName="password" type="password" name="password"
                placeholder="Sua senha" required />
              <div class="form-button">
                <button (click)="loginUsuario()" class="ibtn">Entrar</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>