.txn-header {
    height: 100px;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.txn-des-header {
    z-index: 1;
    color: white;
    width: 100%;
    height: 30px;
    top: 60px;
    font-size: 22px;

}

.bg-gradient {
    width: 100%;
    height: 100%;
}

.txn-result-container {
    display: flex;
    flex-direction: column;
}
.txn-result-item {

}

.txn-modal-dialog {
  height: 60vh;
}

#identy_transaction_state_o {
  height: 30%;
  bottom: 25%;
  width: 100%;
}
