<p class="use-case-label">
  Seja bem vindo ao liveness demo da unike.TECH<br />
  A forma passiva simplifica e cria um experiência livre e transparente para o cliente. Tecnologicamente isso é possível com inteligência artificial ensinando o algoritmo sinais humanos versus sinais artificiais.
</p>
<div class="run-section">
  <div class="flex-container">

    <div class="flex-item item" style="color: rgb(206, 150, 243); font-size: 23px; text-align: center; padding: 0;cursor: pointer" (onload)="capture()" >
      
    </div>

    <!--
    <div class="flex-item item" style="color: rgb(206, 150, 243); font-size: 20px; text-align: center; padding: 0;cursor: pointer" (click)="enroll()">
      CADASTRAR
    </div>

    <div class="flex-item item" style="color: rgb(206, 150, 243); font-size: 20px; text-align: center; padding: 0;cursor: pointer" (click)="verify()">
      VERIFICAR
    </div>
    -->

  </div>
</div>
