<div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header " 
      style="background: indigo;
      height: 3rem;
      border-radius: 2px;">
      <!-- <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5> -->
      
      </div>
      <div class="modal-body">
          <img style="margin-left: 5rem; " src="../../../assets/images/icon-fail.svg" alt="Falha ao carregar imagem">
        <p style="font-weight: 700;"> Preencha todos os campos para proseguir.</p>
      </div>
  </div>
  </div>